.Rproj.user
.Rhistory
.RData
.Ruserdata
INEGI Trabajo 28-06-2025/Población Nacional/Pob_nacional20.xlsx
INEGI Trabajo 28-06-2025/Población Nacional/Pob_nacional20CSV.csv
INEGI Trabajo 28-06-2025/Nacimientos/nacim23CSV.csv